@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap");

html,
body {
  min-height: 100%;
}

.main-container {
  min-height: 100vh;
  padding: 0px;
  background-color: #454b5e !important;
  font-family: "Sora", sans-serif;

  .navbar {
    background-color: #515971 !important;
    height: 50px;
    .navbar-brand {
      color: #fff !important;
      b {
        color: #c7cde0;
      }
    }
  }

  .body-container {
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
    .card-container {
      margin: auto;
      justify-content: center;
      .row {
        width: 100%;
      }
    }
  }
}
